<nav id="footer-nav" class="navbar navbar-expand-lg fixed-bottom bg-light border-top">
    <div class="container-fluid d-flex justify-content-between align-items-center px-4">
        <p class="mb-0">
            Si necesitas ayuda comunícate con nosotros al Telf: (01) 2117-800 o a 
            <a href="mailto:soporte@ceplan.gob.pe" class="text-decoration-none">soporte@ceplan.gob.pe</a>
        </p>
        <img src="@Assets["images/bad-logo.png"]" alt="Logo Ceplan" style="height: 40px" />
    </div>
</nav>