<nav id="main-nav" class="navbar navbar-expand-lg">
    <div class="container justify-content-start align-items-center">
        <img src="@Assets["images/pj_logo_ceplan.png"]" alt="Logo Ceplan" style="height: 40px" />
    </div>
    <div class="container justify-content-end align-items-center">
        <i id="question-mark" class="bi bi-question"></i>
    </div>
</nav>