<nav id="footer-nav" class="navbar navbar-expand-lg fixed-bottom bg-light border-top">
    <div class="container-fluid d-flex justify-content-start align-items-center px-4">
        <img src="@Assets["images/bad-logo.png"]" alt="Logo Ceplan" style="height: 40px" />
    </div>
</nav>